.img1 {
    width: 40px;
    height: 30px;
}

header {
    margin-left: 70px;
}

.section1 {
    background-image: url(headerbg.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    text-align: center;
    color: white;
    padding-top: 80px;
}

.a {
    text-decoration: none;
    border: 1px aqua solid;
    padding: 7px;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    background-color: aqua;
    height: 2px;
}

.section2 {
    text-align: center;
    margin-top: 50px;
}

.p1 {
    margin: auto;
    width: 660px;
}

.section3 {
    text-align: center;
    margin-top: 50px;
}

.div1 {
    float: left;
    margin: auto;
    margin-left: 140px;

}

.div2 {
    float: left;
    margin: auto;
    margin-left: 155px;

}

.div3 {
    float: left;
    margin: auto;
    margin-left: 140px;
}

.section4 {
    text-align: center;
    clear: left;
    padding-top: 60px;
}

footer {
    padding-top: 60px;
}

.footer1 {
    float: right;
}

.p4 {
    margin-right: 130vh;
}

.div6 {
    color: white;
}

.input1 {
    width: 30%;
    height: 25px;
}

.input2 {
    width: 30%;
    height: 25px;
}

textarea {
    width: 30%;
    height: 100px;
    background: none;
    border: solid white 1;


}

label {
    color: white;
}

.a5 {
    text-decoration: none;
    padding: 5px;
    border: 1px aqua solid;
    color: white;
    margin-left: 160px;
}

.section7 {
    background-image: url(headerbg.png);
    background-size: cover;
    height: 100vh;
    margin-top: 80px;
}

.section9 {
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    height: 92vh;
    text-align: center;
    padding-top: 70px;
}

.ss {
    width: 30%;
    height: 25px;
    background: none;
    border: solid white 1;
}

.sss {
    width: 30%;
    height: 25px;
    background: none;
    border: solid white 1;


}

button {
    margin-left: 210px;
    background: none;
    border: aqua solid 1px;
    color: white;
}

img {
    width: 200px;
    height: 180px;
}

.img2 {
    width: 90px;
    height: 80px;
}

.img3 {
    width: 90px;
    height: 80px;
}

.img4 {
    width: 90px;
    height: 80px;
}
.z1{
    width: 60px;
    height: 50px;
}
.z2{
    width: 60px;
    height: 50px;
}
.z3{
    width: 60px;
    height: 50px;
}
.seif{
    float:right;
}
placeholder{
    color: white;
}